measureFromSexpRR.txt
measureFromSexpRL.txt
measureFromSexpRH.txt
measureFromSexpLR.txt
measureFromSexpHR.txt
measureSignTrRR.txt
measureSignTrRL.txt
measureSignTrRH.txt
measureSignTrLR.txt
measureSignTrHR.txt
measureSignDigestTrRR.txt
measureSignDigestTrRL.txt
measureSignDigestTrRH.txt
measureSignDigestTrLR.txt
measureSignDigestTrHR.txt
measureDecryptTrRR.txt
measureDecryptTrRL.txt
measureDecryptTrRH.txt
measureDecryptTrLR.txt
measureDecryptTrHR.txt
measureComputeRootTrRR.txt
measureComputeRootTrRL.txt
measureComputeRootTrRH.txt
measureComputeRootTrLR.txt
measureComputeRootTrHR.txt
